@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.text-white {
    color: white;
    font-family: 'Fira Mono', monospace;
}

.text-left {
    text-align: left;
}

.section-container {
    text-align: center;
    width: 100%;
    /* Set the width to 100% to adapt to the screen size */
    max-width: 100%;
    /* Optionally, set a maximum width if needed */

}

.section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 10px solid #ccc;
    display: inline-block;
    vertical-align: top;
    width: 365px;
}

.section1, .section2, .section3 {
    margin: 10px;
    padding: 20px;
    position: relative;
}

.section1 {
    border-image: linear-gradient(to right, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.section1::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #300c5a 50%, transparent 100%);
}

.section2 {
    border-image: linear-gradient(to left, transparent 0%, #7a21e0 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #7a21e0 50%, transparent 100%);
}

.section2::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #7a21e0 50%, transparent 100%);
}

.section3 {
    border-image: linear-gradient(to left, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;

}

.section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #300c5a 50%, transparent 100%);
}


.title {
    position: relative;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: bolder;
}

.name {
    text-align: left;
    font-weight: bolder;

}

.description {
    font-size: 15px;
    font-weight: bold;
}

.email-description {
    font-size: 12px;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, #7a21e0 50%, transparent 100%);
}

.item {
    position: relative;
    border-bottom: 1px solid #7a21e0;
}

.item:last-child {
    border-bottom: none;
}

.item-content {
    padding: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
}

.item-link {
    color: white;
    border-image: linear-gradient(to left, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.item-link:hover {
    background-color: #7a21e0;
}

.item-button {
    background-color: #7a21e0;
    float: right;
    padding: 2px 20px;
    font-weight: 600;
    color: black;
}

.item-button:hover {
    background-color: #fff;
}



.item-image-container {
    width: 50px;
    margin-right: 10px;

}

.item-image {
    max-width: 100%;
    height: auto;
    display: block;
}


a {
    text-decoration: none;
}

.chop {
    margin: 0;
    font-size: 40px;
    letter-spacing: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#C, #H, #O, #P, #Y {
    display: inline-block;
    /* Make the spans inline-block elements */
    text-align: center;
    /* Center the text horizontally within the spans */
    width: 1em;
    /* Set a fixed width to make all spans equal in width */
}

#O {

    opacity: 1;
    animation: flickerO 4S linear reverse infinite;
}

#O::after {
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
    box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

#C, #P {
    animation: flickerCP 4S linear reverse infinite;
    position: relative;
}



#H {
    animation: flickerH 4S linear reverse infinite
}

#Y {
    animation: flickerH 4S linear reverse infinite
}

@keyframes flickerO {
    0% {
        opacity: 0.4;
    }

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 0.6;
    }

    15% {
        opacity: 0.85;
    }

    25% {
        opacity: 0.5;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0.85;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flickerCP {
    0% {
        opacity: 0.19;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.25;
    }

    15% {
        opacity: 0.35;
    }

    25% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.4;
    }

    70% {
        opacity: 0.35;
    }

    80% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes flickerH {
    0% {
        opacity: 0.15;
    }

    5% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.12;
    }

    15% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.15;
    }

    30% {
        opacity: 0.4;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.12;
    }

    45% {
        opacity: 0.15;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.3;
    }

    90% {
        opacity: 0.18;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes flickerY {
    0% {
        opacity: 0.01;
    }

    5% {
        opacity: 0.05;
    }

    10% {
        opacity: 0.03;
    }

    15% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.07;
    }

    30% {
        opacity: 0.1;
    }

    35% {
        opacity: 0.05;
    }

    40% {
        opacity: 0.06;
    }

    45% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.;
    }

    70% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.;
    }

    90% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.1;
    }
}