@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.text-white {
    color: white;
    font-family: 'Fira Mono', monospace;

}

.text-left {
    text-align: left;
}

.section-container {
    text-align: center;
    width: 100%;
    /* Set the width to 100% to adapt to the screen size */
    max-width: 100%;
    /* Optionally, set a maximum width if needed */
}

@media (min-width: 769px) {
    .section {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border: 10px solid #ccc;
        display: inline-block;
        vertical-align: top;
        width: 400px;
    }
}

/* For screens up to 768px in width (mobile devices), do not apply the width property */
@media (max-width: 768px) {
    .section {
        flex: 1;
        margin: 10px;
        padding: 20px;
        border: 10px solid #ccc;
        display: inline-block;
        vertical-align: top;

    }
}

.section1, .section2, .section3 {
    margin: 10px;
    padding: 20px;
    position: relative;
}

.section1 {
    border-image: linear-gradient(to right, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.section1::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #300c5a 50%, transparent 100%);
}

.section2 {
    border-image: linear-gradient(to left, transparent 0%, #7a21e0 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #7a21e0 50%, transparent 100%);
}

.section2::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #7a21e0 50%, transparent 100%);
}

.section3 {
    border-image: linear-gradient(to left, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;

}

.section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent 0%, #300c5a 50%, transparent 100%);
}


.title {
    position: relative;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: bolder;
}

.name {
    text-align: left;
    font-weight: bolder;

}

.description {
    font-size: 15px;
    font-weight: bold;
}

.email-description {
    font-size: 12px;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, #7a21e0 50%, transparent 100%);
}

.item {
    position: relative;
    border-bottom: 1px solid #7a21e0;
}

.item:last-child {
    border-bottom: none;
}

.item-content {
    padding: 10px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
}

.item-link {
    color: white;
    border-image: linear-gradient(to left, #300c5a 50%, transparent 100%);
    border-image-slice: 1;
    border-image-width: 3px;
    border-image-outset: 0;
}

.item-link:hover {
    background-color: #7a21e0;
}

.item-button {
    background-color: #7a21e0;
    float: right;
    padding: 2px 20px;
    font-weight: 600;
    color: black;
    margin-left: 5px;
}

.item-button:hover {
    background-color: #fff;
}



.item-image-container {
    width: 50px;
    margin-right: 10px;

}

.item-image {
    max-width: 100%;
    height: auto;
    display: block;
}


a {
    text-decoration: none;
}


@keyframes spin {
    to {
        transform: rotateY(-360deg);
    }
}

@keyframes opacity {
    to {
        opacity: 1;
    }
}

#sceneContainer {
    width: 100%;
    height: 100vh;
}