<!-- page.component.html -->
<div class="text-white">
  <div class="chop">
    <span id="C">C</span>
    <span id="H">H</span>
    <span id="O">O</span>
    <span id="P">P</span>
    <span id="P">P</span>
    <span id="Y">Y</span>
  </div>
  <div class="section-container">
    <div
      *ngFor="let section of sections"
      [ngClass]="section.cssClass"
      class="section"
    >
      <h2 class="title text-left" *ngIf="section.title">{{ section.title }}</h2>
      <div class="text-left">
        <div *ngFor="let item of section.info">
          <!-- If item has image use this template else use the noImage template  -->
          <ng-container *ngIf="item.image; else noImage">
            <a [href]="item.link" (click)="sendEmail($event, item.description)">
              <div class="item-content item-link">
                <div class="item-image-container">
                  <img
                    *ngIf="item.image"
                    [src]="item.image"
                    alt="Image"
                    class="item-image"
                  />
                </div>
                <div class="item-info">
                  <strong class="name">{{ item.name }}</strong>
                  <p
                    class="description"
                    [ngClass]="{
                      'email-description': isValidEmail(item.description)
                    }"
                    *ngIf="item.description"
                  >
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </a>
          </ng-container>
          <ng-template #noImage>
            <div class="item-content">
              <div class="item-info">
                <strong class="name" *ngIf="item.name">{{ item.name }}</strong>
                <p class="description">
                  {{ item.description }}
                </p>
                <ng-container *ngIf="item.link">
                  <a [href]="item.link" class="item-button">
                    {{
                      item.link.startsWith("https://github.com")
                        ? "Repo"
                        : "Page"
                    }}
                  </a>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
