<div class="page">
  <a routerLink="/" class="back-button">Go Back</a>
  <div id="bg"></div>
  <div class="about">
    <p>
      I'm Joseph, born in 2002 in Lebanon.<br />
      I'm a developer with a passion for innovation and a love for
      transforming<br />
      creative concepts into digital realities. My journey in the world of
      technology has been marked by<br />
      curiosity, continuous learning, and a commitment to crafting meaningful<br />
      digital experiences.
    </p>
  </div>
  <div id="cursor"></div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
