/* Create a container for the entire page */
.page-container {
    position: relative;
    max-width: 100%;
    /* Set a maximum width for the container */
    max-height: 100vh;
    /* Set a maximum height using viewport height (100% of the viewport height) */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style the image at the bottom */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: default;
    user-select: none;
    max-width: 100%;
    /* Set a maximum width for the image */
    height: auto;
    /* Ensure the image maintains its aspect ratio */
}